@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Sriracha&display=swap');

:root{
  --fonte-cabecalho: 'Passion One', cursive;
  --fonte-texto: 'Sriracha', cursive;
}

*{
  padding: 0px;
  margin: 0px;
}

html, body{
  min-height: 100vh;
  background-color: antiquewhite;
}

header{
  background-color: black;
  color: white;
  text-align: center;
  font-family: var(--fonte-cabecalho);
  margin-bottom: 33px;
  padding: 58px;
}

header h1{
  font-size: 10vw;
  font-variant: small-caps;
}

header p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
}

header  a{
  color: white;
  text-decoration: none;
  font-family: var(--fonte-cabecalho);
  font-size: 1.3em;
}

header  a:hover, footer a:hover{
  text-decoration: underline;
}

main{
  font-family: var(--fonte-texto);
  font-size: large;
}

.titulo{
  padding-bottom: 5px;
}

article{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
}

.primeira-folha{
  margin-top: -2.7em;
  background-color: white;
}

p{
  font-size: 3.5vw;
  line-height: 2em;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 2em;
}

.segunda-folha{
  background-image: url(imagens/background001.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 10vh 10vh 10vh 5vh;
}

.segunda-folha p{
  background-color: rgba(0, 0, 0, 0.493);
  display: inline-block;
  padding: 5px;
  text-shadow: 1px 1px black;
}

.terceira-folha{
  background-color: white;

}

.ultima-linha{
  padding-top: 2em;
}

.quarta-folha{
  background-image: url(imagens/background002.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10vh 10vh 10vh 5vh;
}

article.quarta-folha p{
  background-color: rgba(0, 0, 0, 0.493);
  display: inline-block;
  padding: 5px;
  color: white;
  text-shadow: 1px 1px black;
}

.quinta-folha{
  background-color: white;
}

footer{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
}

footer p{
  font-size: 18px;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}